src/consumers.haml
!!! 5

%html

  %head

    %title Consumers Hero

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    / %link{rel: "stylesheet", type: "text/css", href: "./css/vendor.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./css/consumers.css"}

    %body

      #consumers-hero

        #splash-bg.splash-img

        #cta-wrap.cta-wrap

          %h3#hero-text Pay instantly from your banking app

          %a{href: "#", class: "button primary radius easier-payments", id: 'hero-link'} BOOK A DEMO

      / Scripts
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'}
      %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}

      %script{src: "./js/consumers.js"}
      

dist/consumers.html
<!DOCTYPE html>
<html>
  <head>
    <title>Consumers Hero</title>
    <!-- Meta -->
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta content='no' name='msapplication-tap-highlight'>
    <!-- Styles -->
    <!-- %link{rel: "stylesheet", type: "text/css", href: "./css/vendor.min.css"} -->
    <link href='./css/consumers.css' rel='stylesheet' type='text/css'>
    <body>
      <div id='consumers-hero'>
        <div class='splash-img' id='splash-bg'></div>
        <div class='cta-wrap' id='cta-wrap'>
          <h3 id='hero-text'>Pay instantly from your banking app</h3>
          <a class='button primary radius easier-payments' href='#' id='hero-link'>BOOK A DEMO</a>
        </div>
      </div>
      <!-- Scripts -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>
      <script src='./js/consumers.js'></script>
    </body>
  </head>
</html>
