dist/floating-phone.html
<!DOCTYPE html>
<html>
  <head>
    <title>Floating Phone</title>
    <!-- Meta -->
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta content='no' name='msapplication-tap-highlight'>
    <!-- Styles -->
    <link href='./css/floaty.css' rel='stylesheet' type='text/css'>
    <body>
      <div id='floating-phone-wrap'>
        <img class='phone-shadow' id='phone-shadow' src='img/phone-shadow.png'>
        <img class='phone-device' id='phone-device' src='img/phone-device.png'>
      </div>
      <!-- Scripts -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>
      <script src='./js/floaty.js'></script>
    </body>
  </head>
</html>

src/floating-phone.haml
!!! 5

%html

  %head

    %title Floating Phone

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    %link{rel: "stylesheet", type: "text/css", href: "./css/floaty.css"}

    %body

      #floating-phone-wrap
        %img{src: "img/phone-shadow.png", id: "phone-shadow", class: "phone-shadow"}/
        %img{src: "img/phone-device.png", id: "phone-device", class: "phone-device"}/

      / Scripts
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'}
      %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}

      %script{src: "./js/floaty.js"}
      
