src/home-hero.haml
!!! 5

%html

  %head

    %title Pay By Bank Homepage Hero

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    %link{rel: "stylesheet", type: "text/css", href: "./css/home-hero.css"}

    %body

      / -- Begin Hero Content --

      #hero-header
        
        / Background image states and corresponding copy
        .states-container#hero-states-container

          #initial-state.states{class: 'initial-state', 'data-state-number' => 1}
            %h3.states-copy Wherever you see this symbol

          #mobile-state.states{class: 'mobile-state', 'data-state-number' => 2}
            %h3.states-copy Pay straight from your banking app

          #coffee-cup-state.states{class: 'coffee-cup-state', 'data-state-number' => 3}
            %h3.states-copy Breezing through checkouts in seconds

          #pizza-state.states{class: 'pizza-state', 'data-state-number' => 4}
            %h3.states-copy You can make payments quickly and easily

          #final-state.states{class: 'final-state', 'data-state-number' => 5}
            %h3.states-copy Simple. Secure. Trusted.

        / Fallback PNGs of drawings
        #fallback-drawings.fallback-wrap
          %img{src: "img/hero-fb-1.png", id: 'fallback1'}/
          %img{src: "img/hero-fb-2.png", id: 'fallback2'}/
          %img{src: "img/hero-fb-3.png", id: 'fallback3'}/
          %img{src: "img/hero-fb-4.png", id: 'fallback4'}/
          %img{src: "img/hero-fb-5.png", id: 'fallback5'}/
          %img{src: "img/hero-fb-6.png", id: 'fallback6'}/

        / SVG drawings
        #drawings.drawings.drawing-0

          #main-logo-wrap.main-logo-split

            / MAIN BASE
            .split-elem
              %svg{id: "main-logo-base", :viewbox => "0 0 80 80"}
                :css
                  .base-style-0{filter:url(#BaseMaskFilter1);}
                  .base-style-1{mask:url(#BaseMask00);}
                  .base-style-2{fill:none;stroke:#FFFFFF;stroke-width:5.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                %defs
                  %filter#BaseMaskFilter1{:filterUnits => "userSpaceOnUse", :height => "52.1", :width => "41", :x => "10.4", :y => "22.6"}
                    %feFlood{:result => "back", :style => "flood-color:white;flood-opacity:1"}
                    %feBlend{:in => "SourceGraphic", :in2 => "back", :mode => "normal"}
                %mask#BaseMask00{:height => "52.1", :maskUnits => "userSpaceOnUse", :width => "41", :x => "10.4", :y => "22.6"}
                  %g.base-style-0
                    %circle{:cx => "27.6", :cy => "71.2", :r => "1.8"}
                    %path{:d => "M42.8,19.8v-4.6c0,0.7-0.6,1.2-1.2,1.2h-3c-0.7,0-1.2-0.6-1.2-1.2v4.6H42.8z"}
                    %path{:d => "M37.3,60.2v4.5c0-0.7,0.6-1.2,1.2-1.2h3c0.7,0,1.2,0.6,1.2,1.2v-4.5H37.3z"}
                %g.base-style-1
                  %polyline.base-style-2{:points => "40,64.4 40,71.9 13.1,71.9 13.1,25.3 48.6,25.3 31.7,54.6 \t"}
                  %line.base-style-2{:x1 => "40", :x2 => "13.1", :y1 => "70.5", :y2 => "70.5"}

            / MAIN EXTENSION
            .split-elem
              %svg{id: "main-logo-extension", :viewbox => "0 0 80 80"}
                :css
                  .ext-style0{filter:url(#MainExtFilter);}
                  .ext-style1{mask:url(#MainExtMask);}
                  .ext-style2{fill:none;stroke:#FFF;stroke-width:5.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                %defs
                  %filter#MainExtFilter{:filterUnits => "userSpaceOnUse", :height => "53.1", :width => "40.4", :x => "29", :y => "4.3"}
                    %feFlood{:result => "back", :style => "flood-color:white;flood-opacity:1"}/
                    %feBlend{:in => "SourceGraphic", :in2 => "back", :mode => "normal"}/
                %mask#MainExtMask{:height => "53.1", :maskUnits => "userSpaceOnUse", :width => "40.4", :x => "29", :y => "4.3"}
                  %g.ext-style0
                    %circle{:cx => "27.6", :cy => "71.2", :r => "1.8"}/
                    %path{:d => "M42.8,19.8v-4.6c0,0.7-0.6,1.2-1.2,1.2h-3c-0.7,0-1.2-0.6-1.2-1.2v4.6H42.8z"}/
                    %path{:d => "M37.3,60.2v4.5c0-0.7,0.6-1.2,1.2-1.2h3c0.7,0,1.2,0.6,1.2,1.2v-4.5H37.3z"}/
                %g.ext-style1
                  %polyline.ext-style2{:points => "31.7,54.6 66.6,54.6 66.6,7 40,7 40,15.4 \t"}/

          / FINAL BASE
          #final-logo-wrap.final-logo-split
            .split-elem
              %svg{id: "final-logo-base", :viewbox => "0 0 80 80"}
                :css
                  .final-base0{filter:url(#finalBaseFilter);}
                  .final-base1{mask:url(#finalBaseMask);}
                  .final-base2{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                %defs
                  %filter#finalBaseFilter{:filterUnits => "userSpaceOnUse", :height => "53.6", :width => "42.5", :x => "10", :y => "22.3"}
                    %feFlood{:result => "back", :style => "flood-color:white;flood-opacity:1"}
                    %feBlend{:in => "SourceGraphic", :in2 => "back", :mode => "normal"}
                %mask#finalBaseMask{:height => "53.6", :maskUnits => "userSpaceOnUse", :width => "42.5", :x => "10", :y => "22.3"}
                  %g.final-base0
                    %circle{:cx => "27.9", :cy => "71.7", :r => "1.8"}
                    %path{:d => "M36.9,59.7v5.7c0-0.9,0.7-1.6,1.6-1.6h3.9c0.9,0,1.6,0.7,1.6,1.6v-5.7H36.9z"}
                %g.final-base1
                  %polyline.final-base2{:points => "40.4,65.5 40.4,72.4 13.5,72.4 13.5,25.8 49,25.8 32.1,55.1 \t"}
                  %line.final-base2{:x1 => "40.4", :x2 => "13.5", :y1 => "71", :y2 => "71"}

            / FINAL EXTENSION
            .split-elem
              %svg{id: "final-logo-extension", :viewbox => "0 0 80 80"}
                :css
                  .final-ext0{filter:url(#finalExtFilter);}
                  .final-ext1{mask:url(#finalExtMask);}
                  .final-ext2{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                %defs
                  %filter#finalExtFilter{:filterUnits => "userSpaceOnUse", :height => "54.6", :width => "41.9", :x => "28.6", :y => "4"}
                    %feFlood{:result => "back", :style => "flood-color:white;flood-opacity:1"}
                    %feBlend{:in => "SourceGraphic", :in2 => "back", :mode => "normal"}
                %mask#MainExtMask{:height => "54.6", :maskUnits => "userSpaceOnUse", :width => "41.9", :x => "28.6", :y => "4"}
                  %g.final-ext0
                    %path{:d => "M43.9,21.6v-5.8c0,0.9-0.7,1.6-1.6,1.6h-3.9c-0.9,0-1.6-0.7-1.6-1.6v5.8H43.9z"}
                %g.final-ext1
                  %polyline.final-ext2{:points => "32.1,55.1 67,55.1 67,7.5 40.4,7.5 40.4,15.9 \t"}

          .icon-elems.svg-base
          
            %svg#drawings-logo-base{:viewbox => "0 0 80 80"}
              :css
                .st0{filter:url(#Adobe_OpacityMaskFilter);}
                .st1{fill:#FFFFFF;}
                .st2{mask:url(#SVGID_1_);}
                .st3{fill:none;stroke:#ffffff;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
              %defs
                
                %filter{id: "Adobe_OpacityMaskFilter", filterUnits: "userSpaceOnUse", x: "5.8", y: "60.8", width: "14", height:"17.8"}
                  %feColorMatrix{type: "matrix", values: "-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0", 'color-interpolation-filters' => "sRGB", result:"source"}
                  %feFlood{style: "flood-color:white;flood-opacity:1", result: "back"}
                  %feBlend{in: "source", in2: "back", mode: "normal"}

              %mask{maskUnits: "userSpaceOnUse", x: "5.8", y: "60.8", width: "14", height: "17.8", id:"SVGID_1_"}
                %g.st0
                  %circle{class: "st1", cx: "11.6", cy: "77.7", r: "0.6"}

              %g.st2
                %g
                  %g
                    %polyline{class: "st3", points: "16,76.1 16,77.9 6.5,77.9 6.5,61.6 19,61.6 13.1,71.9"}
                    %line{class: "st3", x1: "16", y1: "77.4", x2: "6.5", y2:"77.4"}

          / MOBILE
          .icon-elems.svg-icon.exception
            #hero-phone-screens.phone-screens
              %img{id: "mob-screen-2", src: "img/hero-pay-screen.jpg"}/
              %img{id: "mob-screen-1", src: "img/hero-unlock-screen.jpg"}/

            %svg#mobile-surround{viewbox: "0 0 80 126"}
              :css
                .mobile-surround-0{fill:none;stroke:#FFF;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
              %path{class: "mobile-surround-0", d: "M5.1,119L75,119L75,8L12.5,8L12.5,100"}
          
          / PIZZA
          .icon-elems.svg-icon
            %svg#pizza{:viewbox => "0 0 80 80"}
              :css
                .pizza0{fill:none;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                .pizza1{stroke:#ffffff;}
                .pizza2{stroke:#ff6e00;}
              %path.pizza0.pizza1{:d => "M13.1,71.9h32.4C63.8,71.9,79,56.6,79,38S63.9,4.1,45.2,4.1S11.3,19.3,11.3,38c0,2.3,0.2,4.6,0.7,6.8\n\ts1.1,4.4,2,6.4c0.8,2.1,1.9,4,3.1,5.8"}
              %circle.pizza0.pizza1{:cx => "45.1", :cy => "38", :r => "30"}
              %circle.pizza0.pizza2{:cx => "45.5", :cy => "36.8", :r => "4"}
              %circle.pizza0.pizza2{:cx => "36", :cy => "41.8", :r => "2.7"}
              %circle.pizza0.pizza2{:cx => "39.8", :cy => "18.5", :r => "2.7"}
              %circle.pizza0.pizza2{:cx => "30.8", :cy => "54.1", :r => "2.7"}
              %circle.pizza0.pizza2{:cx => "65.6", :cy => "37.1", :r => "2.7"}
              %circle.pizza0.pizza2{:cx => "59.5", :cy => "53", :r => "2.7"}
              %circle.pizza0.pizza2{:cx => "57.2", :cy => "22.5", :r => "4"}
              %circle.pizza0.pizza2{:cx => "43.8", :cy => "57", :r => "4"}
              %circle.pizza0.pizza2{:cx => "25.4", :cy => "32.8", :r => "4"}
              %line.pizza0.pizza2{:x1 => "31.3", :x2 => "30.3", :y1 => "20.4", :y2 => "23.1"}
              %line.pizza0.pizza2{:x1 => "56.4", :x2 => "55.5", :y1 => "34.1", :y2 => "36.8"}
              %line.pizza0.pizza2{:x1 => "43", :x2 => "42", :y1 => "46.7", :y2 => "49.5"}
              %line.pizza0.pizza2{:x1 => "51.6", :x2 => "53.8", :y1 => "46.3", :y2 => "44.4"}
              %line.pizza0.pizza2{:x1 => "46.7", :x2 => "48.9", :y1 => "15.3", :y2 => "13.4"}
              %line.pizza0.pizza2{:x1 => "23.2", :x2 => "25.4", :y1 => "45.8", :y2 => "43.9"}
              %line.pizza0.pizza2{:x1 => "36.6", :x2 => "39.4", :y1 => "29.8", :y2 => "30.5"}
              %line.pizza0.pizza2{:x1 => "64.8", :x2 => "67.6", :y1 => "44.1", :y2 => "44.9"}
              %line.pizza0.pizza2{:x1 => "53.2", :x2 => "56", :y1 => "58.7", :y2 => "59.5"}

          .icon-elems.svg-icon

            %svg#coffee-cup{:viewbox => "0 0 80 80"}

              :css
                .cup-anims{fill:none;stroke:#ffffff;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                .cup-beans{fill:none;stroke:#ff6e00;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
              %g
                %polyline.cup-anims{points: "13.1,71.9 49.8,71.9 57.8,17.9 9.4,17.9 15.2,57.4"}
                %polygon.cup-anims{:points => "61.8,11.2 5.4,11.2 5.4,16.3 9.4,17.9 57.8,17.9 61.8,16.6"}
                %polygon.cup-anims{:points => "59,11.2 10,11.2 12,3.2 57,3.2"}
                %ellipse.cup-beans{:cx => "27.4", :cy => "47.9", :rx => "6.2", :ry => "9.3", :transform => "matrix(0.7071 -0.7071 0.7071 0.7071 -25.8861 33.3902)"}
                %path.cup-beans{:d => "M19.5,44.4c2.4-0.2,5.4,1.1,7.9,3.5"}
                %path.cup-beans{:d => "M19.5,44.4c2.4-0.2,5.4,1.1,7.9,3.5"}
                %path.cup-beans{:d => "M35.2,51.5c-2.4,0.2-5.4-1.1-7.9-3.5"}
                %ellipse.cup-beans{:cx => "41.9", :cy => "33.4", :rx => "9.3", :ry => "6.2", :transform => "matrix(0.293 -0.9561 0.9561 0.293 -2.3307 63.6781)"}
                %path.cup-beans{:d => "M41.3,24.8c1.3,2.1,1.6,5.3,0.6,8.6"}
                %path.cup-beans{:d => "M42.5,42c-1.3-2.1-1.6-5.3-0.6-8.6"}

          / Final paymark box
          %img#paymark.paymark{src: "img/hero-paymark.png"}

      / -- End Hero Content --

      / Scripts
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'}
      %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}
      
      %script{src: "./js/home-hero.min.js"}
      

dist/home-hero.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pay By Bank Homepage Hero</title>
    <!-- Meta -->
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta content='no' name='msapplication-tap-highlight'>
    <!-- Styles -->
    <link href='./css/home-hero.css' rel='stylesheet' type='text/css'>
    <body>
      <!-- -- Begin Hero Content -- -->
      <div id='hero-header'>
        <!-- Background image states and corresponding copy -->
        <div class='states-container' id='hero-states-container'>
          <div class='initial-state states' data-state-number='1' id='initial-state'>
            <h3 class='states-copy'>Wherever you see this symbol</h3>
          </div>
          <div class='mobile-state states' data-state-number='2' id='mobile-state'>
            <h3 class='states-copy'>Pay straight from your banking app</h3>
          </div>
          <div class='coffee-cup-state states' data-state-number='3' id='coffee-cup-state'>
            <h3 class='states-copy'>Breezing through checkouts in seconds</h3>
          </div>
          <div class='pizza-state states' data-state-number='4' id='pizza-state'>
            <h3 class='states-copy'>You can make payments quickly and easily</h3>
          </div>
          <div class='final-state states' data-state-number='5' id='final-state'>
            <h3 class='states-copy'>Simple. Secure. Trusted.</h3>
          </div>
        </div>
        <!-- Fallback PNGs of drawings -->
        <div class='fallback-wrap' id='fallback-drawings'>
          <img id='fallback1' src='img/hero-fb-1.png'>
          <img id='fallback2' src='img/hero-fb-2.png'>
          <img id='fallback3' src='img/hero-fb-3.png'>
          <img id='fallback4' src='img/hero-fb-4.png'>
          <img id='fallback5' src='img/hero-fb-5.png'>
          <img id='fallback6' src='img/hero-fb-6.png'>
        </div>
        <!-- SVG drawings -->
        <div class='drawings drawing-0' id='drawings'>
          <div class='main-logo-split' id='main-logo-wrap'>
            <!-- MAIN BASE -->
            <div class='split-elem'>
              <svg id='main-logo-base' viewbox='0 0 80 80'>
                <style>
                  .base-style-0{filter:url(#BaseMaskFilter1);}
                  .base-style-1{mask:url(#BaseMask00);}
                  .base-style-2{fill:none;stroke:#FFFFFF;stroke-width:5.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                </style>
                <defs>
                  <filter filterUnits='userSpaceOnUse' height='52.1' id='BaseMaskFilter1' width='41' x='10.4' y='22.6'>
                    <feFlood result='back' style='flood-color:white;flood-opacity:1'></feFlood>
                    <feBlend in2='back' in='SourceGraphic' mode='normal'></feBlend>
                  </filter>
                </defs>
                <mask height='52.1' id='BaseMask00' maskUnits='userSpaceOnUse' width='41' x='10.4' y='22.6'>
                  <g class='base-style-0'>
                    <circle cx='27.6' cy='71.2' r='1.8'></circle>
                    <path d='M42.8,19.8v-4.6c0,0.7-0.6,1.2-1.2,1.2h-3c-0.7,0-1.2-0.6-1.2-1.2v4.6H42.8z'></path>
                    <path d='M37.3,60.2v4.5c0-0.7,0.6-1.2,1.2-1.2h3c0.7,0,1.2,0.6,1.2,1.2v-4.5H37.3z'></path>
                  </g>
                </mask>
                <g class='base-style-1'>
                  <polyline class='base-style-2' points='40,64.4 40,71.9 13.1,71.9 13.1,25.3 48.6,25.3 31.7,54.6 	'></polyline>
                  <line class='base-style-2' x1='40' x2='13.1' y1='70.5' y2='70.5'></line>
                </g>
              </svg>
            </div>
            <!-- MAIN EXTENSION -->
            <div class='split-elem'>
              <svg id='main-logo-extension' viewbox='0 0 80 80'>
                <style>
                  .ext-style0{filter:url(#MainExtFilter);}
                  .ext-style1{mask:url(#MainExtMask);}
                  .ext-style2{fill:none;stroke:#FFF;stroke-width:5.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                </style>
                <defs>
                  <filter filterUnits='userSpaceOnUse' height='53.1' id='MainExtFilter' width='40.4' x='29' y='4.3'>
                    <feFlood result='back' style='flood-color:white;flood-opacity:1'>
                    <feBlend in2='back' in='SourceGraphic' mode='normal'>
                  </filter>
                </defs>
                <mask height='53.1' id='MainExtMask' maskUnits='userSpaceOnUse' width='40.4' x='29' y='4.3'>
                  <g class='ext-style0'>
                    <circle cx='27.6' cy='71.2' r='1.8'>
                    <path d='M42.8,19.8v-4.6c0,0.7-0.6,1.2-1.2,1.2h-3c-0.7,0-1.2-0.6-1.2-1.2v4.6H42.8z'>
                    <path d='M37.3,60.2v4.5c0-0.7,0.6-1.2,1.2-1.2h3c0.7,0,1.2,0.6,1.2,1.2v-4.5H37.3z'>
                  </g>
                </mask>
                <g class='ext-style1'>
                  <polyline class='ext-style2' points='31.7,54.6 66.6,54.6 66.6,7 40,7 40,15.4 	'>
                </g>
              </svg>
            </div>
          </div>
          <!-- FINAL BASE -->
          <div class='final-logo-split' id='final-logo-wrap'>
            <div class='split-elem'>
              <svg id='final-logo-base' viewbox='0 0 80 80'>
                <style>
                  .final-base0{filter:url(#finalBaseFilter);}
                  .final-base1{mask:url(#finalBaseMask);}
                  .final-base2{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                </style>
                <defs>
                  <filter filterUnits='userSpaceOnUse' height='53.6' id='finalBaseFilter' width='42.5' x='10' y='22.3'>
                    <feFlood result='back' style='flood-color:white;flood-opacity:1'></feFlood>
                    <feBlend in2='back' in='SourceGraphic' mode='normal'></feBlend>
                  </filter>
                </defs>
                <mask height='53.6' id='finalBaseMask' maskUnits='userSpaceOnUse' width='42.5' x='10' y='22.3'>
                  <g class='final-base0'>
                    <circle cx='27.9' cy='71.7' r='1.8'></circle>
                    <path d='M36.9,59.7v5.7c0-0.9,0.7-1.6,1.6-1.6h3.9c0.9,0,1.6,0.7,1.6,1.6v-5.7H36.9z'></path>
                  </g>
                </mask>
                <g class='final-base1'>
                  <polyline class='final-base2' points='40.4,65.5 40.4,72.4 13.5,72.4 13.5,25.8 49,25.8 32.1,55.1 	'></polyline>
                  <line class='final-base2' x1='40.4' x2='13.5' y1='71' y2='71'></line>
                </g>
              </svg>
            </div>
            <!-- FINAL EXTENSION -->
            <div class='split-elem'>
              <svg id='final-logo-extension' viewbox='0 0 80 80'>
                <style>
                  .final-ext0{filter:url(#finalExtFilter);}
                  .final-ext1{mask:url(#finalExtMask);}
                  .final-ext2{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                </style>
                <defs>
                  <filter filterUnits='userSpaceOnUse' height='54.6' id='finalExtFilter' width='41.9' x='28.6' y='4'>
                    <feFlood result='back' style='flood-color:white;flood-opacity:1'></feFlood>
                    <feBlend in2='back' in='SourceGraphic' mode='normal'></feBlend>
                  </filter>
                </defs>
                <mask height='54.6' id='MainExtMask' maskUnits='userSpaceOnUse' width='41.9' x='28.6' y='4'>
                  <g class='final-ext0'>
                    <path d='M43.9,21.6v-5.8c0,0.9-0.7,1.6-1.6,1.6h-3.9c-0.9,0-1.6-0.7-1.6-1.6v5.8H43.9z'></path>
                  </g>
                </mask>
                <g class='final-ext1'>
                  <polyline class='final-ext2' points='32.1,55.1 67,55.1 67,7.5 40.4,7.5 40.4,15.9 	'></polyline>
                </g>
              </svg>
            </div>
          </div>
          <div class='icon-elems svg-base'>
            <svg id='drawings-logo-base' viewbox='0 0 80 80'>
              <style>
                .st0{filter:url(#Adobe_OpacityMaskFilter);}
                .st1{fill:#FFFFFF;}
                .st2{mask:url(#SVGID_1_);}
                .st3{fill:none;stroke:#ffffff;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
              </style>
              <defs>
                <filter filterUnits='userSpaceOnUse' height='17.8' id='Adobe_OpacityMaskFilter' width='14' x='5.8' y='60.8'>
                  <feColorMatrix color-interpolation-filters='sRGB' result='source' type='matrix' values='-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0'></feColorMatrix>
                  <feFlood result='back' style='flood-color:white;flood-opacity:1'></feFlood>
                  <feBlend in2='back' in='source' mode='normal'></feBlend>
                </filter>
              </defs>
              <mask height='17.8' id='SVGID_1_' maskUnits='userSpaceOnUse' width='14' x='5.8' y='60.8'>
                <g class='st0'>
                  <circle class='st1' cx='11.6' cy='77.7' r='0.6'></circle>
                </g>
              </mask>
              <g class='st2'>
                <g>
                  <g>
                    <polyline class='st3' points='16,76.1 16,77.9 6.5,77.9 6.5,61.6 19,61.6 13.1,71.9'></polyline>
                    <line class='st3' x1='16' x2='6.5' y1='77.4' y2='77.4'></line>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <!-- MOBILE -->
          <div class='icon-elems svg-icon exception'>
            <div class='phone-screens' id='hero-phone-screens'>
              <img id='mob-screen-2' src='img/hero-pay-screen.jpg'>
              <img id='mob-screen-1' src='img/hero-unlock-screen.jpg'>
            </div>
            <svg id='mobile-surround' viewbox='0 0 80 126'>
              <style>
                .mobile-surround-0{fill:none;stroke:#FFF;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
              </style>
              <path class='mobile-surround-0' d='M5.1,119L75,119L75,8L12.5,8L12.5,100'></path>
            </svg>
          </div>
          <!-- PIZZA -->
          <div class='icon-elems svg-icon'>
            <svg id='pizza' viewbox='0 0 80 80'>
              <style>
                .pizza0{fill:none;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                .pizza1{stroke:#ffffff;}
                .pizza2{stroke:#ff6e00;}
              </style>
              <path class='pizza0 pizza1' d='M13.1,71.9h32.4C63.8,71.9,79,56.6,79,38S63.9,4.1,45.2,4.1S11.3,19.3,11.3,38c0,2.3,0.2,4.6,0.7,6.8&#x000A;	s1.1,4.4,2,6.4c0.8,2.1,1.9,4,3.1,5.8'></path>
              <circle class='pizza0 pizza1' cx='45.1' cy='38' r='30'></circle>
              <circle class='pizza0 pizza2' cx='45.5' cy='36.8' r='4'></circle>
              <circle class='pizza0 pizza2' cx='36' cy='41.8' r='2.7'></circle>
              <circle class='pizza0 pizza2' cx='39.8' cy='18.5' r='2.7'></circle>
              <circle class='pizza0 pizza2' cx='30.8' cy='54.1' r='2.7'></circle>
              <circle class='pizza0 pizza2' cx='65.6' cy='37.1' r='2.7'></circle>
              <circle class='pizza0 pizza2' cx='59.5' cy='53' r='2.7'></circle>
              <circle class='pizza0 pizza2' cx='57.2' cy='22.5' r='4'></circle>
              <circle class='pizza0 pizza2' cx='43.8' cy='57' r='4'></circle>
              <circle class='pizza0 pizza2' cx='25.4' cy='32.8' r='4'></circle>
              <line class='pizza0 pizza2' x1='31.3' x2='30.3' y1='20.4' y2='23.1'></line>
              <line class='pizza0 pizza2' x1='56.4' x2='55.5' y1='34.1' y2='36.8'></line>
              <line class='pizza0 pizza2' x1='43' x2='42' y1='46.7' y2='49.5'></line>
              <line class='pizza0 pizza2' x1='51.6' x2='53.8' y1='46.3' y2='44.4'></line>
              <line class='pizza0 pizza2' x1='46.7' x2='48.9' y1='15.3' y2='13.4'></line>
              <line class='pizza0 pizza2' x1='23.2' x2='25.4' y1='45.8' y2='43.9'></line>
              <line class='pizza0 pizza2' x1='36.6' x2='39.4' y1='29.8' y2='30.5'></line>
              <line class='pizza0 pizza2' x1='64.8' x2='67.6' y1='44.1' y2='44.9'></line>
              <line class='pizza0 pizza2' x1='53.2' x2='56' y1='58.7' y2='59.5'></line>
            </svg>
          </div>
          <div class='icon-elems svg-icon'>
            <svg id='coffee-cup' viewbox='0 0 80 80'>
              <style>
                .cup-anims{fill:none;stroke:#ffffff;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                .cup-beans{fill:none;stroke:#ff6e00;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
              </style>
              <g>
                <polyline class='cup-anims' points='13.1,71.9 49.8,71.9 57.8,17.9 9.4,17.9 15.2,57.4'></polyline>
                <polygon class='cup-anims' points='61.8,11.2 5.4,11.2 5.4,16.3 9.4,17.9 57.8,17.9 61.8,16.6'></polygon>
                <polygon class='cup-anims' points='59,11.2 10,11.2 12,3.2 57,3.2'></polygon>
                <ellipse class='cup-beans' cx='27.4' cy='47.9' rx='6.2' ry='9.3' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -25.8861 33.3902)'></ellipse>
                <path class='cup-beans' d='M19.5,44.4c2.4-0.2,5.4,1.1,7.9,3.5'></path>
                <path class='cup-beans' d='M19.5,44.4c2.4-0.2,5.4,1.1,7.9,3.5'></path>
                <path class='cup-beans' d='M35.2,51.5c-2.4,0.2-5.4-1.1-7.9-3.5'></path>
                <ellipse class='cup-beans' cx='41.9' cy='33.4' rx='9.3' ry='6.2' transform='matrix(0.293 -0.9561 0.9561 0.293 -2.3307 63.6781)'></ellipse>
                <path class='cup-beans' d='M41.3,24.8c1.3,2.1,1.6,5.3,0.6,8.6'></path>
                <path class='cup-beans' d='M42.5,42c-1.3-2.1-1.6-5.3-0.6-8.6'></path>
              </g>
            </svg>
          </div>
          <!-- Final paymark box -->
          <img class='paymark' id='paymark' src='img/hero-paymark.png'>
        </div>
      </div>
      <!-- -- End Hero Content -- -->
      <!-- Scripts -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>
      <script src='./js/home-hero.min.js'></script>
    </body>
  </head>
</html>
