src/lazyload-demo.haml
!!! 5

%html

  %head

    %title Lazyload Demo

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    %link{rel: "stylesheet", type: "text/css", href: "./css/lazyload-demo.css"}

    %body

      #lazyloading-content

        %section.header

          %h1
            Some hero header
            %br/
            %em Scroll down to see demo lazyloading animations

        %section.lazy-section.checkout-section{'data-section-num' => 1}><
          
          .lazy-content.graphic-wrap#graphics1><
            %img#lazyphone1.lazyphone1{src: "img/lazy-phone1.png"}/
            %img#lazyphone2.lazyphone2{src: "img/lazy-phone2.png"}/

          .lazy-content.copy-wrap.right#copy1><

            %h3 Breeze through checkout

            %p Selecting Pay by Bank App&trade; at the checkout allows you can pay directly from your banking app in seconds. No new passwords or pin codes to remember.

            %img.cta#cta{src: "img/lazy-cta.jpg"}/

        %section.lazy-section.security-section{'data-section-num' => 2}><

          .lazy-content.copy-wrap.right#copy2><

            %h3 Security from your trusted bank

            %p Your account information never leaves your bank app and your personal details are shielded from criminal intent.

          .lazy-content.graphic-wrap#graphics2><

            %img#lazyphone3.lazyphone3{src: "img/lazy-phone3.png"}/


        %section.lazy-section.budget-section{'data-section-num' => 3}><

          .lazy-content.graphic-wrap#graphics3><

            %img#lazyphone4.lazyphone4{src: "img/lazy-phone4.png"}/

          .lazy-content.copy-wrap.right#copy3><

            %h3 Know exactly how much you’re spending

            %p Paying from your banking app means seeing your balance before and after you pay and choosing the account to pay from all in real time.


      / Scripts
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'}
      %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}

      %script{src: "./js/lazyload-demo.js"}
      

dist/lazyload-demo.html
<!DOCTYPE html>
<html>
  <head>
    <title>Lazyload Demo</title>
    <!-- Meta -->
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta content='no' name='msapplication-tap-highlight'>
    <!-- Styles -->
    <link href='./css/lazyload-demo.css' rel='stylesheet' type='text/css'>
    <body>
      <div id='lazyloading-content'>
        <section class='header'>
          <h1>
            Some hero header
            <br>
            <em>Scroll down to see demo lazyloading animations</em>
          </h1>
        </section><section class='lazy-section checkout-section' data-section-num='1'><div class='lazy-content graphic-wrap' id='graphics1'><img class='lazyphone1' id='lazyphone1' src='img/lazy-phone1.png'>
        <img class='lazyphone2' id='lazyphone2' src='img/lazy-phone2.png'></div><div class='lazy-content copy-wrap right' id='copy1'><h3>Breeze through checkout</h3>
        <p>Selecting Pay by Bank App&trade; at the checkout allows you can pay directly from your banking app in seconds. No new passwords or pin codes to remember.</p>
        <img class='cta' id='cta' src='img/lazy-cta.jpg'></div></section><section class='lazy-section security-section' data-section-num='2'><div class='lazy-content copy-wrap right' id='copy2'><h3>Security from your trusted bank</h3>
        <p>Your account information never leaves your bank app and your personal details are shielded from criminal intent.</p></div><div class='lazy-content graphic-wrap' id='graphics2'><img class='lazyphone3' id='lazyphone3' src='img/lazy-phone3.png'></div></section><section class='lazy-section budget-section' data-section-num='3'><div class='lazy-content graphic-wrap' id='graphics3'><img class='lazyphone4' id='lazyphone4' src='img/lazy-phone4.png'></div><div class='lazy-content copy-wrap right' id='copy3'><h3>Know exactly how much you’re spending</h3>
        <p>Paying from your banking app means seeing your balance before and after you pay and choosing the account to pay from all in real time.</p></div></section></div>
      <!-- Scripts -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>
      <script src='./js/lazyload-demo.js'></script>
    </body>
  </head>
</html>
