dist/tech.html
<!DOCTYPE html>
<html>
  <head>
    <title>Technology | Pay By Bank</title>
    <!-- Meta -->
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta content='no' name='msapplication-tap-highlight'>
    <!-- Styles -->
    <!-- %link{rel: "stylesheet", type: "text/css", href: "./css/vendor.min.css"} -->
    <link href='./css/tech.css' rel='stylesheet' type='text/css'>
    <body>
      <div id='tech-journey-wrap'>
        <div id='tech-steps'>
          <img class='tech-laptop' id='tech-laptop' src='img/tech-laptop.png'>
          <div class='journey-copy copy1' id='copy1'>
            <h4>
              <em>Step 1</em>
              <br>
              Consumer is ready to pay
            </h4>
            <p>Either ready to checkout at an online retailer, pay a bill online or an invoice face to face – and taps/clicks paymark.</p>
          </div>
          <div class='steps' data-step-num='1' id='step1'>
            <div class='mid road1 roads vert'>
              <img class='marker' id='marker1' src='img/marker.png'>
              <div class='prog-line'></div>
            </div>
            <div class='horiz road2 roads'>
              <div class='prog-line left'></div>
            </div>
            <div class='road3 roads vert'>
              <div class='prog-line'></div>
            </div>
            <div class='token-wrap'>
              <img class='basket' id='tech-basket' src='img/tech-basket.png'>
              <img class='arrow' id='tech-arrow' src='img/tech-arrow.png'>
              <img class='token' id='tech-token' src='img/tech-token.png'>
            </div>
          </div>
          <div class='steps' data-step-num='2' id='step2'>
            <div class='road1 roads vert'>
              <img class='marker' id='marker2' src='img/marker.png'>
              <div class='prog-line'></div>
            </div>
            <div class='horiz road2 roads'>
              <div class='prog-line right'></div>
            </div>
            <div class='mid road3 roads vert'>
              <div class='prog-line'></div>
            </div>
            <div class='journey-copy copy2' id='copy2'>
              <h4>
                <em>Step 2</em>
                <br>
                Basket of goods is sent to Pay by Bank app&trade; securely
              </h4>
              <p>Either ready to checkout at an online retailer, pay a bill online or an invoice face to face – and taps/clicks paymark.</p>
            </div>
          </div>
          <div class='route-a steps' data-step-num='3' id='step3'>
            <div class='faux-roads horiz road2-faux'></div>
            <div class='faux-roads road3-faux vert'>
              <!-- %img{class: 'marker', src: "img/marker.png"}/ -->
            </div>
            <div class='mid road1 roads vert'>
              <img class='marker' id='marker3' src='img/marker.png'>
              <div class='prog-line'></div>
            </div>
            <div class='faux-road'></div>
            <div class='horiz road2 roads switch-road'>
              <div class='prog-line left'></div>
            </div>
            <div class='road3 roads switch-road vert'>
              <div class='prog-line'></div>
            </div>
            <div class='step-3-copy' id='step-3-copy'>
              <h4>
                <em>Checking for bank app</em>
              </h4>
              <p>Is the user’s bank app available on the device?</p>
            </div>
            <div class='options-wrap' id='step-3-options'>
              <button class='options selected' id='yes'>Yes</button>
              <button class='options' id='no'>No</button>
            </div>
          </div>
          <div class='route-a steps' data-step-num='4' id='step4'>
            <div class='faux-roads road1-faux vert'>
              <img class='marker' src='img/marker.png'>
            </div>
            <div class='faux-roads horiz road2-faux'></div>
            <img id='tech-ping' src='img/tech-ping-phone.png'>
            <img id='tech-noapp' src='img/tech-noapp-phone.png'>
            <div class='journey-copy copy3a' id='copy3a'>
              <h4>
                <em>Step 3A</em>
                <br>
                Bank app available
              </h4>
              <p>
                If there is a banking app available on the device then this will recognise the token and open automatically (or if there are multiple then they are offered a choice).
              </p>
            </div>
            <div class='journey-copy copy3b' id='copy3b'>
              <h4>
                <em>Step 3B</em>
                <br>
                Bank app is
                <u>not available</u>
                on device
              </h4>
              <p>
                If there is not a banking app then a code is automatically provided to enter into a mobile banking app on another device to retrieve the Request to Pay.
              </p>
            </div>
            <!-- From 3A -->
            <div class='road1 roads switch-road vert'>
              <img class='marker' id='marker4' src='img/marker.png'>
              <div class='prog-line'></div>
            </div>
            <div class='horiz road2 roads switch-road'>
              <div class='prog-line left'></div>
            </div>
            <!-- Common -->
            <div class='mid road3 roads to3b vert'>
              <div class='prog-line'></div>
            </div>
          </div>
          <div class='steps' data-step-num='5' id='step5'>
            <div id='tech-transaction'>
              <img class='tech-token2' id='tech-token2' src='img/tech-token2.png'>
              <img class='tech-bank1' id='tech-bank1' src='img/tech-bank1.jpg'>
              <img class='tech-down-arrow' id='tech-down-arrow' src='img/tech-down-arrow.png'>
              <img class='tech-shop' id='tech-shop' src='img/tech-shop.jpg'>
              <img class='tech-tick' id='tech-tick' src='img/tech-tick.png'>
            </div>
            <div class='journey-copy copy4' id='copy4'>
              <h4>
                <em>Step 4</em>
                <br>
                Consumer reviews purchase
              </h4>
              <p>
                Once the Request to Pay is retrieved within the secured Mobile Banking App the Consumer can review all the relevant information and initiate the payment, with the benefit of reviewing their balance and adding fulfilment information to the order if required.
              </p>
            </div>
            <div class='mid road1 roads vert'>
              <div class='prog-line'></div>
              <img class='marker' id='marker5' src='img/marker.png'>
            </div>
          </div>
          <div class='steps' data-step-num='6' id='step6'>
            <div class='horiz road1 road1a roads'>
              <div class='prog-line left'></div>
            </div>
            <div class='horiz righty road1 road1b roads'>
              <div class='prog-line'></div>
            </div>
            <div class='road2 road2a roads vert'>
              <div class='prog-line'></div>
            </div>
            <div class='mid road2 road2b roads vert'>
              <div class='prog-line'></div>
              <img class='marker' id='marker6' src='img/marker.png'>
            </div>
            <div class='righty road2 road2c roads vert'>
              <div class='prog-line'></div>
            </div>
            <div class='mid road0 roads vert'>
              <img class='marker' id='marker6dt' src='img/marker.png'>
              <div class='prog-line'></div>
            </div>
            <div id='tech-enpoint-wrap'>
              <img class='endpoints consumer' src='img/tech-consumer.png'>
              <img class='endpoints retailer' src='img/tech-retailer.png'>
              <img class='endpoints bank' src='img/tech-bank.png'>
            </div>
            <div class='journey-copy copy5' id='copy5'>
              <h4>
                <em>Step 5</em>
                <br>
                All parties notified
              </h4>
              <p>Once confirmation is provided by the bank that the payment has been made then all parties are notified that the goods can be fulfilled.</p>
            </div>
          </div>
          <div class='steps' data-step-num='7' id='step7'></div>
        </div>
      </div>
      <!-- Scripts -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>
      <script src='./js/tech.js'></script>
    </body>
  </head>
</html>

src/tech.haml
!!! 5

%html

  %head

    %title Technology | Pay By Bank

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    / %link{rel: "stylesheet", type: "text/css", href: "./css/vendor.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./css/tech.css"}

    %body

      #tech-journey-wrap

        #tech-steps

          %img{class: 'tech-laptop', src: "img/tech-laptop.png", id: "tech-laptop"}/
          
          #copy1.journey-copy.copy1
            %h4
              %em Step 1
              %br/
              Consumer is ready to pay
            %p Either ready to checkout at an online retailer, pay a bill online or an invoice face to face – and taps/clicks paymark.

          #step1.steps{"data-step-num" => 1}

            .road1{class: "roads vert mid"}
              %img{class: 'marker', src: "img/marker.png", id: "marker1"}/
              .prog-line

            .road2{class: "roads horiz"}
              .prog-line.left

            .road3{class: "roads vert"}
              .prog-line

            .token-wrap
              %img{id: "tech-basket", class: "basket", src: "img/tech-basket.png"}/
              %img{id: "tech-arrow",  class: "arrow",  src: "img/tech-arrow.png"}/
              %img{id: "tech-token",  class: "token",  src: "img/tech-token.png"}/

          #step2.steps{"data-step-num" => 2}

            .road1{class: "roads vert"}
              %img{class: 'marker', src: "img/marker.png", id: "marker2"}/
              .prog-line

            .road2{class: "roads horiz"}
              .prog-line.right

            .road3{class: "roads vert mid"}
              .prog-line

            #copy2.journey-copy.copy2
              %h4
                %em Step 2
                %br/
                Basket of goods is sent to Pay by Bank app&trade; securely
              %p Either ready to checkout at an online retailer, pay a bill online or an invoice face to face – and taps/clicks paymark.

          #step3.steps{"data-step-num" => 3, class: "route-a"}
            
            .road2-faux{class: "faux-roads horiz"}
            .road3-faux{class: "faux-roads vert"}
              / %img{class: 'marker', src: "img/marker.png"}/

            .road1{class: "roads vert mid"}
              %img{class: 'marker', src: "img/marker.png", id: "marker3"}/
              .prog-line

            .faux-road

            .road2{class: "roads horiz switch-road"}
              .prog-line.left

            .road3{class: "roads vert switch-road"}
              .prog-line

            #step-3-copy.step-3-copy
              %h4
                %em Checking for bank app
              %p Is the user’s bank app available on the device?

            #step-3-options.options-wrap

              %button#yes.options.selected Yes

              %button#no.options No

          #step4.steps{"data-step-num" => 4, class: "route-a"}

            .road1-faux{class: "faux-roads vert"}
              %img{class: 'marker', src: "img/marker.png"}/
            .road2-faux{class: "faux-roads horiz"}

            %img#tech-ping{src: "img/tech-ping-phone.png"}/
            %img#tech-noapp{src: "img/tech-noapp-phone.png"}/

            #copy3a.journey-copy.copy3a
              %h4
                %em Step 3A
                %br/
                Bank app available 
              %p
                If there is a banking app available on the device then this will recognise the token and open automatically (or if there are multiple then they are offered a choice).

            #copy3b.journey-copy.copy3b
              %h4
                %em Step 3B
                %br/
                Bank app is 
                %u not available 
                on device
              %p
                If there is not a banking app then a code is automatically provided to enter into a mobile banking app on another device to retrieve the Request to Pay.
            
            / From 3A
            .road1{class: "roads vert switch-road"}
              %img{class: 'marker', src: "img/marker.png", id: "marker4"}/
              .prog-line

            .road2{class: "roads horiz switch-road"}
              .prog-line.left

            / Common
            .road3.to3b{class: "roads vert mid"}
              .prog-line

          #step5.steps{"data-step-num" => 5}

            #tech-transaction
              %img#tech-token2.tech-token2{src: "img/tech-token2.png"}/
              %img#tech-bank1.tech-bank1{src: "img/tech-bank1.jpg"}/
              %img#tech-down-arrow.tech-down-arrow{src: "img/tech-down-arrow.png"}/
              %img#tech-shop.tech-shop{src: "img/tech-shop.jpg"}/
              %img#tech-tick.tech-tick{src: "img/tech-tick.png"}/

            #copy4.journey-copy.copy4
              %h4
                %em Step 4
                %br/
                Consumer reviews purchase
              %p
                Once the Request to Pay is retrieved within the secured Mobile Banking App the Consumer can review all the relevant information and initiate the payment, with the benefit of reviewing their balance and adding fulfilment information to the order if required.

            
            .road1{class: "roads vert mid"}
              .prog-line
              %img{class: 'marker', src: "img/marker.png", id: "marker5"}/

          #step6.steps{"data-step-num" => 6}

            .road1{class: "roads horiz road1a"}
              .prog-line.left

            .road1.righty{class: "roads horiz road1b"}
              .prog-line

            .road2{class: "roads vert road2a"}
              .prog-line

            .road2{class: "roads vert mid road2b"}
              .prog-line
              %img{class: 'marker', src: "img/marker.png", id: "marker6"}/

            .road2.righty{class: "roads vert road2c"}
              .prog-line

            .road0{class: "roads vert mid road0"}
              %img{class: 'marker', src: "img/marker.png", id: "marker6dt"}/
              .prog-line

            #tech-enpoint-wrap

              %img.endpoints.consumer{src: "img/tech-consumer.png"}/
              %img.endpoints.retailer{src: "img/tech-retailer.png"}/
              %img.endpoints.bank{src: "img/tech-bank.png"}/

            #copy5.journey-copy.copy5
              %h4
                %em Step 5
                %br/
                All parties notified
              %p Once confirmation is provided by the bank that the payment has been made then all parties are notified that the goods can be fulfilled.

          #step7.steps{"data-step-num" => 7}



      / Scripts
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'}
      %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}

      %script{src: "./js/tech.js"}
      
